# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Thumbs.db

# Node & Related
# ================
node_modules/

# Etherpad Assets
# ==================
settings.json

# Others
# ======
*.log
*.csv
*.dat
*.out
*.pid
*.tmp
*.bak
*.swp
